:root{
    --background: #f9fdff;
    --main: #5c8bf0;
    --accent: #072d5a;
    --widget-background: #eef4f7;
}

.main-page{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    height: 100vh;
}

.main-widgets {
    display: flex;
    justify-content: space-between;
    width: 50%; 
    margin-top: 20px; 
}

.home-calendar {
    margin-bottom: 100px;
}
.home-events{
    margin-top: 40px;
    width: 80%;
     margin: 50px;
     padding: 30px;
     background-color: var(--widget-background);
     border-radius: 30px;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-placeholder {
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; 
    height: 100px;
    width: 100%;
  
}


.home-greeting {
    width: 80%; 
    margin: 50px;
    padding: 30px;
    background-color: var(--widget-background);
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}



.home-tasks{
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 60%;
}

.newTask {
    background-color: var(--widget-background);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 500px; 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task {
    text-align: center;
}




