:root{
    --background: #f9fdff;
    --main: #5c8bf0;
    --accent: #072d5a;
    --widget-background: #eef4f7;
}

.navbar-placeholder {
    height: 100px; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1; 
}

.home-components{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}

.newTask {
    background-color: var(--widget-background);
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    width: 500px; 
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.task {
    text-align: center;
}

.label,
.taskD {
    margin: 10px 0;
}

.greeting {
    text-align: center;
    position: absolute;
    top: 0;
    color: black;
    padding: 20px;
    margin-top: 30px;
    margin-left: 50px;
}
