:root {
    --fc-today-bg-light: #E0F2FE;
    --fc-today-bg-dark: #CADBE9; 
  }
/* CSS file or <style> tag */
.fc-timeGridWeek-view, .fc-timeGridDay-view {
    max-height: 700px;
    overflow: auto;
  }

  .fc .fc-daygrid-day.fc-day-today{
  background-color: #E0F2FE;
}

/* Customize the background color for 'today' */
.fc .fc-day-today {
  background-color: #E0F2FE !important; 
}

/* Custom view handling for week and day views */
.fc-timeGridWeek-view, .fc-timeGridDay-view {
  max-height: 700px;
  overflow: auto;
}

  
.fc-event:hover {
    cursor: pointer;
    background-color: #f0f0f0; 
  }
  
  .fc-day:hover {
    cursor: pointer;
    background-color: #fff
  }

  .fc .fc-view-harness {
    width: 100%;
    max-width: 1200px;
    margin: auto;
  }


  
  
  
  @media (max-width: 768px) {
    .fc .fc-view-harness {
      width: 100%;
    }
  }

  