nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 20px 80px;
    box-shadow: 0 20px 20px gray;
   
}

#logo {
height: 100px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;

}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover{
    color: gray;
}