nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    flex-direction: column;
    /* Remove box-shadow or modify as needed */
}

#logo {
    height: 100px;
}

#navbar {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; /* Change to column to display text vertically */
    align-items: flex-start; /* Adjust alignment as needed */
}

#navbar li {
    top: 0;
    margin: 10px 0; /* Adjust vertical spacing as needed */
    white-space: nowrap; /* Prevent text from wrapping */
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    color: gray;
}
