:root {
    --background: #f9fdff;
    --main: #5c8bf0;
    --accent: #072d5a;
    --widget-background: #eef4f7;
}

#logo {
    height: 100px;
}

.navbar {
    background-color: var(--background);
    position: fixed;
    top: 0; /* Ensure navbar starts at the top of the page */
    left: 0; /* Align navbar to the left side of the page */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    
    z-index: 1000; /* Ensure navbar is above other content */
}

#navbar li {
    list-style: none;
    padding: 20px 30px;
    position: relative;
    width: 100%; /* Take the full width of the navbar */
    margin: 10px 0;
    display: flex;
    align-items: center;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--main);
    transition: 0.3s ease-in-out;
}

#navbar li.active .navIcon {
    border: 4px solid var(--accent);
    border-radius: 3px;
}

#navbar li .navIcon {
    color: var(--main);
    padding-right: 10px;
}

#navbar li .navIcon:hover {
    color: var(--accent);
}

/* Adjust the navbar width on smaller screens to take less space */
@media (max-width: 800px) {
    #navbar {
        width: 60%; /* Adjust this value as needed for smaller screens */
    }
}
