nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 20px;
    flex-direction: column;
}

.friends {
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 20px;
    font-size: 30px;
}

.Icon{
    padding-left: 20px;
}

#logo {
    top: 0;
    height: 100px;
    margin-right: 20px; 
}


#navbar {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin-bottom: 900px; 
    
}

#navbar li {
    display: flex;
    align-items: center; 
    margin: 10px 0; 
    white-space: nowrap; 
}

#navbar li .navIcon {
    padding-right: 20px; 
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover {
    color: gray;
}