* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#signupcontainer { /*not changing anything atm */
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 768px;
    max-width: 60%;
    max-height: 800px;
    margin-top: 100px;
    margin-left: 100px;
    margin-top: 10vh;
    border-radius: 150px 0 0 100px;
    
}

.signupcontainer p { /* text in the toggle */
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.signupcontainer span {
    font-size: 12px;
}

.signupcontainer a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.signupcontainer button { /*button in both signup and signin*/
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.signupcontainer button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.signupcontainer form { /* the forms*/
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    width: 90%;
    height: 100%;
    border-radius: 60px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
   
}

.signupcontainer input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 50%;
    outline: none;
}

.signupcontainer span {
    margin-bottom: 30px;
}

.form-container {
    position: absolute;
    top: 25%;
    height: 50%;
    right: 25%;
    transition: all 0.6s ease-in-out;
    
}

.sign-in { /*the text*/
    left: 25%;
    width: 50%;
    z-index: 2;
    opacity: 1; 
    
}

.signupcontainer.active .sign-in {
    transform: translateX(50%);
}

.sign-up {
    right: 1;
    width: 50%;
    opacity: 0;
    z-index: 1;
    
}

.signupcontainer.active .sign-up {
    transform: translateX(50%); 
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container { /*it's the toggle container...*/
    position: absolute;
    top: 25%;
    margin-left: 14%;
    margin-right: 30%;
    left: 45%;
    width: 35%;
    right: 20%;
    height: 50%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 60px  ;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.signupcontainer.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 60px ;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.signupcontainer.active .toggle {
    transform: translate(50%);
}

.toggle-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.signupcontainer.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.signupcontainer.active .toggle-right {
    transform: translateX(200%);
}
